<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" ng-click="onCancel()">&times;</button>
    <h4 class="modal-title" translate="productDlg.AddItem"></h4>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label for="name" translate="productDlg.ProductName"></label>
      <input type="text" class="form-control" id="productName"
            placeholder="{{'productDlg.ProductName' | translate}}"
            ng-model="newProduct.name" required/>
    </div>
    <div class="form-group">
      <label for="price" translate="productDlg.Price"></label>
      <input type="number" class="form-control" id="price"
            placeholder="{{'productDlg.Price' | translate}}"
            ng-model="newProduct.price" required/>
    </div>
    <div class="form-group">
      <label for="imgUrl" translate="productDlg.ImgUrl"></label>
      <input type="url" class="form-control" id="imgUrl"
            placeholder="{{'productDlg.ImgUrl' | translate}}"
            ng-model="newProduct.imagePath"/>
    </div>
    <button ng-click="onOk()" class="btn btn-default"
            translate="productDlg.Submit"></button>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="onCancel()"
            translate="productDlg.Close"></button>
  </div>
</div>
