<div ng-show="isLoading">
  <lodagin-message>Loading msgs</loading-message>
</div>

<div style="max-height: 400px; min-height:400px;" class="col-md-8" ng-hide="isLoading">

  <div class="col-md-6">
    <table>
      <thead>
        <tr>
          <th>
            <span translate="sellers.Name"/>
          </th>
            <th>
              <span translate="sellers.Category"/>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in sellers track by $index">
            <td>{{s.name}}</td>
            <td>{{s.category}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary" ng-click="onAddSeller()">
        <i class="fa fa-plus"/>
        <span translate="sellers.Add"/>
      </button>
    </div>
  </div>
