

/* TODO: add any Sellers-specific styles here! */

.portfolio-item {
    margin-bottom: 25px;
}
#uprbtn {
  margin-top: 10px;
}
#imgbtn {
	margin-top: -10px;
}
#imgupr  {
	margin-top: 10px;
	margin-bottom: 10px;
	width:350px;
	height:200px;
}

#h4sellers {
	margin-top: -35px;
	margin-left: 15px;
}

.tableCrusor{
	 cursor:pointer;
}
