<div ng-show="isLoading">
  <loading-message>Loading msgs</loading-message>
</div>
<div class="col-md-12" ng-hide="isLoading">

<!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <button id="uprbtn" type="button" class="btn btn-default" ng-click="onAddSeller()"><span translate="Sellers.Add"/></button>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <button id="uprbtn" type="button" class="btn btn-default" ng-click="changeLang()" ng-controller="langController"><span translate="language"/></button>
                </ul>

                <ul class="nav navbar-nav col-md-2" style="padding: 10px 12px;">
                  <div class="col-md-2"></div>
                  <select  type="button" class="form-control" ng-model="sellerSort">
                    <option value="" disabled="disabled" selected="selected">Order by</option>
                    <option value="name" translate="Sellers.Name"></option>
                    <option value="category" translate="Sellers.Category"></option>
                  </select>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="col-md-12" ng-hide="isLoading">
    <!-- Page Content -->
      <div class="container">
        <!-- Projects Row -->
        <div ng-repeat="s in sellers | orderBy: (sellerSort)" >
          <div class="row">
            <div class="col-md-6 portfolio-item">
              <a><img id="imgupr" class="img-rounded" ng-src="{{s.imagePath}}"/></a>
            </div>
              <div class="col-md-6 portfolio-item">
                <button id="imgbtn" type="button" class="btn btn-link" ng-click="gotoSellerDetails(s)"><h2>{{s.name}}</h2></button><a style="cursor:pointer" ng-click="editSeller(s)">Edit</a>
              </div>
              <div class="col-md-1">
                <h4 id="h4sellers">{{s.category}}</h4>
              </div>
            </div>
          </div>
        </div>

        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Nonnimal</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
      </div>


<!--
<div class="col-md-4">
  <button class="btn btn-primary" ng-click="onAddSeller()">
    <span translate="Sellers.Add"/>
  </button>
</div>
<div class="col-md-2">
  <button class="btn btn-warning" ng-click="changeLang()" ng-controller="langController">
    <span translate="language"/>
  </button>
</div>
</div>

<div class="col-md-12" ng-hide="isLoading" >
<div>
  <table class="col-md-12" id="mainView">
    <thead>
      <tr>
        <th class="col-md-4">
        </th>
        <th class="col-md-4">
          <span translate="Sellers.Name"/>
        </th>
          <th class="col-md-4">
            <span translate="Sellers.Category"/>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="s in sellers track by $index" class="Sellers">
          <td class="col-md-4">  <img ng-src="{{s.imagePath}}" ng-click="gotoSellerDetails(s)"/></td>
          <td class="col-md-4 tableCrusor"><a ng-click="gotoSellerDetails(s)">{{s.name}} - <a ng-click="editSeller(s)">Edit</a></td>
          <td class="col-md-4">{{s.category}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 -->
