<div ng-show="isLoading">
  <lodagin-message>Loading msgs</loading-message>
</div>

<div class="col-md-12" ng-hide="isLoading">
  <div class="col-md-4">
    <button class="btn btn-primary" ng-click="onAddSeller()">
      <span translate="Sellers.Add"/>
    </button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-warning" ng-click="changeLang()" ng-controller="langController">
      <span translate="language"/>
    </button>
  </div>
</div>

<div class="col-md-12" ng-hide="isLoading" >
  <div>
    <table class="col-md-12" id="mainView">
      <thead>
        <tr>
          <th class="col-md-4">
          </th>
          <th class="col-md-4">
            <span translate="Sellers.Name"/>
          </th>
            <th class="col-md-4">
              <span translate="Sellers.Category"/>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in sellers track by $index" class="Sellers">
            <td class="col-md-4">  <img ng-src="{{s.imagePath}}" ng-click="gotoSellerDetails(s)"/></td>
            <td class="col-md-4 tableCrusor"><a ng-click="gotoSellerDetails(s)">{{s.name}} - <a ng-click="editSeller(s)">Edit</a></td>
            <td class="col-md-4">{{s.category}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
