<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" ng-click="onCancel()">&times;</button>
    <h4 class="modal-title" translate="seller.Add" ng-show="seller.id === '' "></h4>
    <h4 class="modal-title" translate="seller.Edit" ng-hide="seller.id === '' "></h4>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label for="name">Seller name</label>
      <input type="text" class="form-control" id="sellerName"
      placeholder="{{'SellerDetails.Name' | translate}}"
            ng-model="seller.name"/>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category"
      placeholder="{{'SellerDetails.Category' | translate}}"
            ng-model="seller.category"/>
    </div>
    <div class="form-group">
      <label for="imgUrl" translate="SellerDetails.imagePath"></label>
      <input type="text" class="form-control" id="imgUrl"
      placeholder="{{'SellerDetails.imagePath' | translate}}"
            ng-model="seller.imagePath"/>
    </div>
    <button ng-click="onOk()" class="btn btn-default">Submit</button>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="onCancel()">Close</button>
  </div>
</div>
