<div>

  <div class="col-md-12" ng-hide="isLoading">
    <div class="col-md-1">
      <button class="btn btn-primary" ng-click="onAddItem()">
        <span translate="SellerDetails.Add"/>
      </button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-warning" ng-click="changeLang()" ng-controller="langController">
        <span translate="language"/>
      </button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-warning" ng-click="goBack()">
        <span translate="SellerDetails.Back"/>
      </button>
    </div>
    <div class="col-md-2">
      <select class="form-control" ng-model="sortBy" ng-change="update()" ng-options="item.value as item.name for item in selectItems"></select>
    </div>
  </div>

  <!-- Modal -->

  <div id="tabs">
    <ul>
      <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" class="tableCrusor" ng-click="onClickTab(tab)">{{ tab.title | translate}}</li>
    </ul>
    <div id="mainView">
      <div ng-include="currentTab"></div>
    </div>
  </div>

  <script type="text/ng-template" id="one.tpl.html">
    <div id="viewOne" class="col-md-12">
      <h2 translate="SellerDetails.Details"></h2>
      <img ng-src="{{seller.imagePath}}"/>
      <div class="col-md-9">
        <span>{{seller.name}}</span>
      </div>
      <div class="col-md-3">
        <span>{{seller.category}}</span>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="two.tpl.html">
    <div id="viewTwo">


        <product-card ></product-card>
    

    </div>
  </script>

  <script type="text/ng-template" id="three.tpl.html">
    <div id="viewThree">

      <div ng-repeat="product in products | orderBy: 'quantitySold'| limitTo:10"
          ng-style="{display:'inline-block',border:'none', width:100/widgets.length+'%'}">
        <h3>{{$index+1}}</h3>
        <product-card></product-card>
      </div>
      <div ng-if="products.length == 0">
        <strong>No results found...</strong>
      </div>
    </div>
  </script>
</div>


<!--
<div ng-repeat="product in products | orderBy: (sortBy)"
    ng-style="{display:'inline-block',border:'none', width:100/widgets.length+'%'}">
  <product-card ></product-card>
</div>
<div ng-if="products.length == 0">
  <strong>No results found...</strong>
</div>
-->
