<div>
  <div id="tabs">
    <ul>
      <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</li>
    </ul>
    <div id="mainView">
      <div ng-include="currentTab"></div>
    </div>
  </div>


  <script type="text/ng-template" id="one.tpl.html">
    <div id="viewOne">
      <h1 >Allar vörur</h1>

      <div ng-controller="productCtrl">
      <prodct-card ng-repeat="p in products" ng-model="p">
        <div class="Product">
          <img ng-src="{{p.imageUrl}}" />
          <h4>{{p.name}}</h4>
          <span>{{p.price}}</span>
        </div>
      </product-card>
      </div>
  </script>

  <script type="text/ng-template" id="two.tpl.html">
    <div id="viewTwo">
      <h1>Top ten</h1>


    </div>
  </script>
</div>
