
@media only screen and (min-width: 992px) {
  h4 {
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: center;
  }
  .productCard {
    border: 1px solid #000;
    border-bottom: 1px solid black;
  }
}
@media only screen and (min-width: 768px) {
  h4 {
    text-align: center;
  }
  img {
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: center;
  }
  .productCard {
    width: 250px;
    height: 250px;
    border: 1px solid #000;
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  h4 {
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: center;
  }
  .productCard {
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    border-bottom: 1px solid black;
  }
}

body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.portfolio-item {
  margin-bottom: 25px;
}
footer {
  margin: 50px 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  float: left;
  border: 1px solid #000;
  border-bottom-width: 0;
  margin: 3px 3px 0px 3px;
  padding: 5px 5px 0px 5px;
  background-color: #CCC;
  color: #696969;
}
#mainView {
  border: 1px solid black;
  clear: both;
  padding: 0 1em;
}
.active {
  background-color: #FFF;
  color: #000;
}
img {
  height: 150px;
  width: 150px;
}
.Product {
  border: 1px solid #000;
}
@media only screen and (min-width: 768px) {
  h4 {
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: center;
  }
  border: 0px;
}

/* TODO: add any Sellers-specific styles here! */
body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.portfolio-item {
  margin-bottom: 25px;
}
#uprbtn {
  position: relative;
  margin-top: 10px;
}
#imgbtn {
  margin-top: -10px;
}
img {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
  height: 200px;
}
h3 {
  position: relative;
}
p {
  position: relative;
}
h4 {
  position: relative;
  margin-top: -35px;
  margin-left: 15px;
}
